<div class="cart-fab">
    <div *ngIf="numberOfItemsInCart > 0">
        <mat-icon [matBadge]="numberOfItemsInCart" matBadgeColor="warn">shopping_cart</mat-icon>
    </div>
    <div *ngIf="numberOfItemsInCart === 0">
        <mat-icon>shopping_cart</mat-icon>
    </div>
</div>