<div class="items-container">
    <div class="item" *ngFor="let tesla of availableTeslaInventory">

        <ngshop-inventory-item 
        [item]="tesla" 
        (addItemEvent)="onInventoryEvent($event)"
        ></ngshop-inventory-item>
        
    </div>
</div>