.main {
    margin-left: 32px;
    min-height: 95vh;
}

.menu-list {
    list-style-type: none;
    padding: 0 0 0 16px;
    text-align: left;
}


a {
    text-decoration: none;
    color: white;
} 
 

.sidenav {
    background-color: #673ab7;
    width: 160px;
    text-align: center;
    padding: 32px 8px 0 8px;
}

.sidenav h2 {
    color: white;
}

.toolbar-item {
    margin-right: 12px;
}

.toolbar-actions {
    position: relative;
    left: 80%
}
