<div class="app-shell">
  <mat-sidenav-container>

    <mat-sidenav class="sidenav" mode="side" #sidenav>
      <h2>Menu</h2>
      <ul class="menu-list">
        <li>
          <a routerLink="/inventory">Go Shopping</a>
        </li>
        <li>
          <a routerLink="/cart">View Cart</a>
        </li>
        <li>
          <a routerLink="/add">Add Inventory</a>
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar color="primary" class="toolbar">
        <button mat-mini-fab color="accent" (click)="sidenav.toggle()" class="toolbar-item">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="toolbar-item">
          {{ title }}
        </div>

        <div class="toolbar-actions">
          <ngshop-cart-fab></ngshop-cart-fab>
        </div>
        
      </mat-toolbar>

      <div class="main">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>