<div class="inventory-item">
    <mat-card class="item-card">
        <mat-card-header>
            <mat-card-title>
                {{ item?.itemName }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ item?.itemCost | currency: 'GBP' }}
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="item?.itemImage | inventoryImage">
        <mat-card-content>
            <p>
                {{ item?.itemDesc }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="onItemAdd()">
                Add
        </button>
        </mat-card-actions>
    </mat-card>
</div>

<!-- .inventory>.item*3 -->