<div class="add-item">
    <form id="add-item-form" [formGroup]="addItemFormGroup" (ngSubmit)="onAddItemSubmit()">
        <p>
            <mat-form-field>
                <input matInput placeholder="itemName" formControlName="itemName" id="item-name" autocomplete="off">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="itemCost" formControlName="itemCost" id="item-cost" autocomplete="off">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <textarea matInput placeholder="itemDesc" formControlName="itemDesc" id="item-desc" autocomplete="off"></textarea>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="itemImage" formControlName="itemImage" id="item-image" autocomplete="off">
                <mat-hint>Hint: must be a url endpoint</mat-hint>
            </mat-form-field>
        </p>

        <button mat-raised-button [disabled]="!addItemFormGroup.valid" >Submit</button>
    </form>
</div>