<div class="cart-view">
    <div class="cart-view-header">
        <h2>Number of Current Items: {{ (cart$ | async)?.numberOfItems }} </h2>
        <h3>Total Cost of Cart: {{ (cart$ | async)?.total | currency }}</h3>
    </div>

    <div class="cart-view-item-container">
        <mat-list>
            <mat-list-item *ngFor="let item of (cart$ | async)?.items" ngshopNegativeFocus>
                <mat-icon mat-list-icon (click)="onDelete(item)" class="delete">delete_forever</mat-icon>
                <div mat-line class="line-name">{{ item?.itemName }}</div>
                <div mat-line class="sub-line">{{ item?.itemCost | currency }}</div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>

</div>